*.frede
.DS_Store
*.cywrk.*        

*.cyprj.*        

*.cycdx        

*.cyfit        

*.rpt        

*.uvopt        

*.uvproj        

*_timing.html        

*.cydsn/codegentemp        

*.cydsn/DP8051        

*.cydsn/Generated_Source        
MidiControllerDevKit/Prototype.cydsn/BUILD.log
MidiControllerDevKit/Prototype.cydsn/REBUILD.log

codegentemp/
ARM_GCC_541/
Generated_Source/